.h_10 {
  height: 10px;
}

.login_box {
  border-radius: 20px !important;
  border: 1px solid #bdbdbd !important;
  padding: 25px !important;
}

.login_card_header {
  padding: 0px 16px !important;
}
