:root {
  --input_border: #bdbdbd;
  --social_icon_wrapper_border: #828282;
  --link_color: #2d9cdb;
}

.h_10 {
  height: 10px;
}

.h_20 {
  height: 20px;
}

.link {
  color: var(--link_color) !important;
}

.login_box {
  border-radius: 20px !important;
  border: 1px solid var(--input_border) !important;
  padding: 40px 25px !important;
}

.login_card_header {
  padding: 0px 16px !important;
}

.input_field {
  margin: 10px 0 !important;
}

.social_icon_wrapper {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.social_icon {
  cursor: pointer;
}

.dark_mode_toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
